@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
body{
background:#04162E;
color:#FFFFFF;
font-family:"Inter",sans-serif;
}

h1,h2,h3,h4{
font-family:"Space Grotesk",sans-serif;
}

.hero-glow{
box-shadow:0 0 60px rgba(134,245,247,0.25);
}

.surface{
background:#0B1F3A;
}
.card-glow{
box-shadow:0 0 40px rgba(134,245,247,0.12);
}
/* Hide scrollbar but keep scrolling */

html, body {
  scrollbar-width: none;        /* Firefox */
  -ms-overflow-style: none;     /* IE / Edge */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;                /* Chrome / Safari */
}